
			
			<br> <h1> <left> <p>About us</p></left></h1> <br> 

			
			<link href="//fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css" >

			<style>
			p{
			 font-family: 'Tangerine', serif;
			 font-size: 45px;
			 line-height: 48px;
		   }
		</style>
		 
		 
		 <body>
			<section class="main-content">
				
				<div class="row">						
					<div class="span9">								
							<div class="block"><p><img style="display: inline; float: right; margin-left: 12px" alt="candy-warehouse-mint-logo-250x250-2" src="https://www.candywarehouse.com/assets/1/7/candy-warehouse-mint-logo-250x250-2.jpg" height="250" width="250" />
								<p>Thanks for visiting the enchanted land of Turn n' Cough Candy online candy store! Here at Turn n' Cough, we pride ourselves on our vast selection and excellent customer service. Since 1998, we've strictly upheld a tradition of candy excellence! Did you have a favorite candy when you were a kid? Do you have kids of your own who like unusual or hard-to-find confections? Chances are, you can find everything you need right here. From nostalgic to new, minty to sour, tiny to giant-sized, liquid to chunky, lavender to silver, hard to chewy, gourmet to gummy boogers, we've got it all!</p>
							<br>
							<p><strong>Share.&nbsp; Celebrate.&nbsp; Indulge.</strong></p>
							<br>
							<p>Kids remember, don't ever approach vans or accept free candy. The video below is a good reminder about the dangers of free candy and vans.</p>
							<br>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/xVli9szS0bY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							
							<div class="department">
								<h1>Our Staff </h1><div class="table-responsive"><table class="table table-striped department__list"><tbody>                        <tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/Tina-20100802-132331.JPG" class="img-responsive img-thumbnail" />
																						
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=185">
																Dr. Tina Johnson PhD                                    </a>
														</h3>
																								<div>
																	<h6><strong>Associate Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126F                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403976201">(940) 397-6201</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/Ranette.Halverson-20100112-151932.jpg" class="img-responsive img-thumbnail" />
																				
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=214">
																Dr. Ranette Hudson Halverson PhD                                    </a>
														</h3>
																								<div>
																	<h6><strong>Chair</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126A                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974189">(940) 397-4189</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																										<div>
																	<h6><strong>Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126A                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974189">(940) 397-4189</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/Nelson.Passos.jpg" class="img-responsive img-thumbnail" />
																					
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=226">
																Dr. Nelson L. Passos                                     </a>
														</h3>
																								<div>
																	<h6><strong>Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126B                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974129">(940) 397-4129</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																										<div>
																	<h6><strong>Graduate Coordinator</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126B                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																													</div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/griffin_head_shot_300x-20170412-163934.jpeg" class="img-responsive img-thumbnail" />
																					
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=227">
																Dr. Terry Griffin                                     </a>
														</h3>
																								<div>
																	<h6><strong>Associate Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 128B                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974439">(940) 397-4439</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/Richard.Simpson.jpg" class="img-responsive img-thumbnail" />
																						
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=228">
																Richard P. Simpson                                     </a>
														</h3>
																								<div>
																	<h6><strong>Assistant Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126E                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974191">(940) 397-4191</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/Catherine.Stringfellow.jpg" class="img-responsive img-thumbnail" />
																				
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=229">
																Dr. Catherine V. Stringfellow                                     </a>
														</h3>
																								<div>
																	<h6><strong>Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 128C                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974578">(940) 397-4578</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/cerise-wuthrich.jpg" class="img-responsive img-thumbnail" />
																				
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=1345">
																Cerise Wuthrich                                     </a>
														</h3>
																								<div>
																	<h6><strong>Instructor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126D                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974279">(940) 397-4279</a><br />                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/000_nophoto.gif" class="img-responsive img-thumbnail" />
																					
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=1443">
																Dr. Eduardo Colmenares-Diaz                                     </a>
														</h3>
																								<div>
																	<h6><strong>Assistant Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974183">(940) 397-4183</a><br />                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/rsz_715-20150825-111533.jpg" class="img-responsive img-thumbnail" />
																			
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=1449">
																Dr. Bingyang Wei                                     </a>
														</h3>
																								<div>
																	<h6><strong>Assistant Professor</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974412">(940) 397-4412</a><br />Fax: (940) 397-4442                                            </div>
																</div>
																							</td>
												</tr>
																		<tr>
													<td class="col-sm-2">
																							<img src="https://secure.mwsu.edu/profiles/uploads/photos/M20023664-20170117-155439.jpg" class="img-responsive img-thumbnail" />
																					
													</td>
													<td class="col-sm-10">
														<h3>
															<a href="person.asp?profile=1627">
																Christina Britt                                     </a>
														</h3>
																								<div>
																	<h6><strong>Secretary</strong></h6>
																</div>
																<div class="row">
																	<div class="col-sm-6">
																		<strong>Office Locations</strong><br />Bolin Hall 126                                            </div>
																	<div class="col-sm-6">
																		<strong>Contact Information</strong><br />
																		Voice: <a href="tel:19403974702">(940) 397-4702</a><br />                                            </div>
																</div>
																							</td>
												</tr>
												</tbody></table></div>    </div>
					</div>
			</div>
			
					<div class="span3 col">
						<div class="block">	
							<ul class="nav nav-list">
								<li class="nav-header">CATEGORIES</li>
								<li><a href="products.html">Nullam semper elementum</a></li>
								<li class="active"><a href="products.html">Phasellus ultricies</a></li>
								<li><a href="products.html">Donec laoreet dui</a></li>
								<li><a href="products.html">Nullam semper elementum</a></li>
								<li><a href="products.html">Phasellus ultricies</a></li>
								<li><a href="products.html">Donec laoreet dui</a></li>
							</ul>
						
						</div>
						<div class="block">
							<h4 class="title">
								<span class="pull-left"><span class="text">Randomize</span></span>
								<span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
							</h4>
							<div id="myCarousel" class="carousel slide">
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">
													<span class="sale_tag"></span>												
													<img alt="" src="themes/images/ladies/1.jpg"><br/>
													<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
													<a href="#" class="category">Suspendisse aliquet</a>
													<p class="price">$261</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">												
													<img alt="" src="themes/images/ladies/2.jpg"><br/>
													<a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
													<a href="#" class="category">Urna nec lectus mollis</a>
													<p class="price">$134</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="block">								
							<h4 class="title"><strong>Best</strong> Seller</h4>								
							<ul class="small-product">
								<li>
									<a href="#" title="Praesent tempor sem sodales">
										<img src="themes/images/ladies/3.jpg" alt="Praesent tempor sem sodales">
									</a>
									<a href="#">Praesent tempor sem</a>
								</li>
								<li>
									<a href="#" title="Luctus quam ultrices rutrum">
										<img src="themes/images/ladies/4.jpg" alt="Luctus quam ultrices rutrum">
									</a>
									<a href="#">Luctus quam ultrices rutrum</a>
								</li>
								<li>
									<a href="#" title="Fusce id molestie massa">
										<img src="themes/images/ladies/5.jpg" alt="Fusce id molestie massa">
									</a>
									<a href="#">Fusce id molestie massa</a>
								</li>   
							</ul>
						</div>
					</div>
				</div>
			</section>

