

<br><br>
        <section  class="homepage-slider" id="home-slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img src="themes/images/carousel/banner-1.jpg" alt="" />
              </li>
              <li>
                <img src="themes/images/carousel/banner-2.jpg" alt="" />
                <div class="intro">
                  <h1>Mid season sale</h1>
                  <p><span>Up to 50% Off</span></p>
      
                </div>
              </li>
            </ul>
          </div>			
        </section>
      
        <section class="main-content">
          <div class="row">
            <div class="span12">													
              <div class="row">
                <div class="span12">
                  <h4 class="title">
                    <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
                    <span class="pull-right">
                      <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                  </h4>
                  <div id="myCarousel" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                      <div class="active item">
                        <ul class="thumbnails">												
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <span class="sale_tag"></span>
                              <p><a href="product_detail.html"><img src="themes/images/ladies/1.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Cadbury Carmello</a><br/>
                              <a href="products.html" class="category">Caramel infused chocalate</a>
                              <p class="price">$19.99</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <span class="sale_tag"></span>
                              <p><a href="product_detail.html"><img src="themes/images/ladies/2.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Variety Candy Pack</a><br/>
                              <a href="products.html" class="category">Individual Sized Candies</a>
                              <p class="price">$32.50</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/3.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Candy Necklaces</a><br/>
                              <a href="products.html" class="category">Bulk or individual</a>
                              <p class="price">$14.20</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/4.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Poop Squares</a><br/>
                              <a href="products.html" class="category">Look like Poop</a>
                              <p class="price">$31.45</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="thumbnails">
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/5.jpg"style="height:150px;"  alt="" /></a></p>
                              <a href="product_detail.html" class="title">Chocalotitos</a><br/>
                              <a href="products.html" class="category">Cream Filled Chocalate Treats</a>
                              <p class="price">$22.30</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/6.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Blow Pops</a><br/>
                              <a href="products.html" class="category">Pops with gum inside</a>
                              <p class="price">$40.25</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/7.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Candy Coins</a><br/>
                              <a href="products.html" class="category">WARNING: POSSIBLE PIRATE CURSE </a>
                              <p class="price">$10.45</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/ladies/8.jpg"style="height:150px;"  alt="" /></a></p>
                              <a href="product_detail.html" class="title">Jelly Belly</a><br/>
                              <a href="products.html" class="category">World Renon Jelly Beans</a>
                              <p class="price">$35.50</p>
                            </div>
                          </li>																																	
                        </ul>
                      </div>
                    </div>							
                  </div>
                </div>						
              </div>
              <br/>
              <div class="row">
                <div class="span12">
                  <h4 class="title">
                    <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
                    <span class="pull-right">
                      <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                    </span>
                  </h4>
                  <div id="myCarousel-2" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                      <div class="active item">
                        <ul class="thumbnails">												
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <span class="sale_tag"></span>
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware2.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Haribo Dinosaurs</a><br/>
                              <a href="products.html" class="category">Korean Gummy Dinosaurs</a>
                              <p class="price">$25.50</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware1.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Gummy Bears</a><br/>
                              <a href="products.html" class="category">American Made Gummy Bears</a>
                              <p class="price">$17.55</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware6.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Zero Chocalate Bars</a><br/>
                              <a href="products.html" class="category">Because you are not a 0!</a>
                              <p class="price">$25.30</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware5.jpg"style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">York Peppermint Patty</a><br/>
                              <a href="products.html" class="category">What would you do for a Klondike bar?</a>
                              <p class="price">$25.60</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="thumbnails">
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware4.jpg" style="height:150px;" alt="" /></a></p>
                              <a href="product_detail.html" class="title">Riesen Chocalate Bar</a><br/>
                              <a href="products.html" class="category">Get some today!</a>
                              <p class="price">$45.50</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware3.jpg"style="height:150px;"  alt="" /></a></p>
                              <a href="product_detail.html" class="title">100 Grand</a><br/>
                              <a href="products.html" class="category">Feel like 100 bucks!</a>
                              <p class="price">$33.50</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware2.jpg"style="height:150px;"  alt="" /></a></p>
                              <a href="product_detail.html" class="title">Haribo Dinosaurs</a><br/>
                              <a href="products.html" class="category">Vietanamese Gummy Dinosaurs</a>
                              <p class="price">$45.30</p>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="product-box" style="height:250px;">
                              <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware1.jpg"style="height:150px;"  alt="" /></a></p>
                              <a href="product_detail.html" class="title">Gummy Bears</a><br/>
                              <a href="products.html" class="category">All day</a>
                              <p class="price">$25.20</p>
                            </div>
                          </li>																																	
                        </ul>
                      </div>
                    </div>							
                  </div>
                </div>						
              </div>
              <div class="row feature_box">						
                <div class="span4">
                  <div class="service">
                    <div class="responsive">	
                      <img src="themes/images/feature_img_2.png"  alt="" />
                      <h4>User Settings</h4>
                      <p> Adjust your Profile Information</p>									
                    </div>
                  </div>
                </div>
                <div class="span4">	
                  <div class="service">
                    <div class="customize">			
                      <img src="themes/images/feature_img_1.png"  alt="" />
                      <h4>FREE <strong>SHIPPING</strong></h4>
                      <p>We believe in free shipping and polluting the earth with millions upon millions of cardboard boxes. Click here to learn more about our plan to destroy the earth through consumerism.</p>
                    </div>
                  </div>
                </div>
                <div class="span4">
                  <div class="service">
                    <div class="support">	
                      <img src="themes/images/feature_img_3.png"  alt="" />
                      <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                      <p>Please don't bother clicking this. There will be no support or returns. Get out of here with that stuff.</p>
                    </div>
                  </div>
                </div>	
              </div>		
            </div>				
          </div>
        </section>
        <script src="https://samuelweems.com/candy_shop/themes/js/common.js"></script>
        <script src="https://samuelweems.com/candy_shop/themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
  $(function() {
    $(document).ready(function() {
      $('.flexslider').flexslider({
        animation: "fade",
        slideshowSpeed: 4000,
        animationSpeed: 600,
        controlNav: false,
        directionNav: true,
        controlsContainer: ".flex-container" // the container that holds the flexslider
      });
    });
  });

</script>